/* Custom scrollbar styles */

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a0aec0 transparent; /* thumb track */
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar {
    scrollbar-color: #4a5568 transparent; /* thumb track */
  }
}

/* Chromium browsers (Chrome, Edge, Safari, Opera) */
.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #a0aec0; /* gray.400 */
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #718096; /* gray.500 */
}

@media (prefers-color-scheme: dark) {
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #4a5568; /* gray.600 */
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #718096; /* gray.500 */
  }
}
